<section id="product-catalog">
  <div class="container d-flex column a-center">
    <h2>Our Honey Collection</h2>
    <p>Discover our range of premium, raw honey products harvested with care from our own apiaries.</p>

    <!-- filters -->
    <div class="filters d-flex j-center a-center gap-10">
      <app-button-sm label="All Products" customClass="bg-beige-light"/>
      <app-button-sm label="Raw Honey" customClass="bg-beige-light"/>
      <app-button-sm label="Infused Honey" customClass="bg-beige-light"/>
      <app-button-sm label="Floreal Honey" customClass="bg-beige-light"/>
      <app-button-sm label="Exotic Honey" customClass="bg-beige-light"/>
      <app-button-sm label="Honeycomb" customClass="bg-beige-light"/>
      <app-button-sm label="Gift Set" customClass="bg-beige-light"/>
    </div>
    <!-- /filters -->

    <!-- card-wrapper -->
    <div class="card-wrapper">

      <!-- card -->
      <div class="card d-flex column ">
        <div class="image-holder">
          <img src="/assets/images/manuka honey.png" alt="">
        </div>
        <div class="description">
          <h4>Manuka Honey</h4>
          <p>Premium honey known for its unique properties and bold flavor.</p>
        </div>
        <div class="card-actions d-flex a-center j-between">
          <h4>$20.00</h4>
          <app-button-md label="Add to cart" customClass="bg-amber "/>
        </div>
      </div>
      <!-- /card -->

      <!-- card -->
      <div class="card d-flex column ">
        <div class="image-holder">
          <img src="/assets/images/manuka honey.png" alt="">
        </div>
        <div class="description">
          <h4>Manuka Honey</h4>
          <p>Premium honey known for its unique properties and bold flavor.</p>
        </div>
        <div class="card-actions d-flex a-center j-between">
          <h4>$20.00</h4>
          <app-button-md label="Add to cart" customClass="bg-amber "/>
        </div>
      </div>
      <!-- /card -->

      <!-- card -->
      <div class="card d-flex column ">
        <div class="image-holder">
          <img src="/assets/images/manuka honey.png" alt="">
        </div>
        <div class="description">
          <h4>Manuka Honey</h4>
          <p>Premium honey known for its unique properties and bold flavor.</p>
        </div>
        <div class="card-actions d-flex a-center j-between">
          <h4>$20.00</h4>
          <app-button-md label="Add to cart" customClass="bg-amber "/>
        </div>
      </div>
      <!-- /card -->

      <!-- card -->
      <div class="card d-flex column ">
        <div class="image-holder">
          <img src="/assets/images/manuka honey.png" alt="">
        </div>
        <div class="description">
          <h4>Manuka Honey</h4>
          <p>Premium honey known for its unique properties and bold flavor.</p>
        </div>
        <div class="card-actions d-flex a-center j-between">
          <h4>$20.00</h4>
          <app-button-md label="Add to cart" customClass="bg-amber "/>
        </div>
      </div>
      <!-- /card -->

      <!-- card -->
      <div class="card d-flex column ">
        <div class="image-holder">
          <img src="/assets/images/manuka honey.png" alt="">
        </div>
        <div class="description">
          <h4>Manuka Honey</h4>
          <p>Premium honey known for its unique properties and bold flavor.</p>
        </div>
        <div class="card-actions d-flex a-center j-between">
          <h4>$20.00</h4>
          <app-button-md label="Add to cart" customClass="bg-amber "/>
        </div>
      </div>
      <!-- /card -->

      <!-- card -->
      <div class="card d-flex column ">
        <div class="image-holder">
          <img src="/assets/images/manuka honey.png" alt="">
        </div>
        <div class="description">
          <h4>Manuka Honey</h4>
          <p>Premium honey known for its unique properties and bold flavor.</p>
        </div>
        <div class="card-actions d-flex a-center j-between">
          <h4>$20.00</h4>
          <app-button-md label="Add to cart" customClass="bg-amber "/>
        </div>
      </div>
      <!-- /card -->

      <!-- card -->
      <div class="card d-flex column ">
        <div class="image-holder">
          <img src="/assets/images/manuka honey.png" alt="">
        </div>
        <div class="description">
          <h4>Manuka Honey</h4>
          <p>Premium honey known for its unique properties and bold flavor.</p>
        </div>
        <div class="card-actions d-flex a-center j-between">
          <h4>$20.00</h4>
          <app-button-md label="Add to cart" customClass="bg-amber "/>
        </div>
      </div>
      <!-- /card -->

      <!-- card -->
      <div class="card d-flex column ">
        <div class="image-holder">
          <img src="/assets/images/manuka honey.png" alt="">
        </div>
        <div class="description">
          <h4>Manuka Honey</h4>
          <p>Premium honey known for its unique properties and bold flavor.</p>
        </div>
        <div class="card-actions d-flex a-center j-between">
          <h4>$20.00</h4>
          <app-button-md label="Add to cart" customClass="bg-amber "/>
        </div>
      </div>
      <!-- /card -->

      <!-- card -->
      <div class="card d-flex column ">
        <div class="image-holder">
          <img src="/assets/images/manuka honey.png" alt="">
        </div>
        <div class="description">
          <h4>Manuka Honey</h4>
          <p>Premium honey known for its unique properties and bold flavor.</p>
        </div>
        <div class="card-actions d-flex a-center j-between">
          <h4>$20.00</h4>
          <app-button-md label="Add to cart" customClass="bg-amber "/>
        </div>
      </div>
      <!-- /card -->

      <!-- card -->
      <div class="card d-flex column ">
        <div class="image-holder">
          <img src="/assets/images/manuka honey.png" alt="">
        </div>
        <div class="description">
          <h4>Manuka Honey</h4>
          <p>Premium honey known for its unique properties and bold flavor.</p>
        </div>
        <div class="card-actions d-flex a-center j-between">
          <h4>$20.00</h4>
          <app-button-md label="Add to cart" customClass="bg-amber "/>
        </div>
      </div>
      <!-- /card -->

    </div>
    <!-- /card-wrapper -->

    <!-- view all button -->
     <div class="view-all">
      <app-button-md label="View all" customClass="bg-beige-light"/>
     </div>
    <!-- /view all button -->
  </div>
</section>
