<div id="newsletter">
  <div class="container">
    <div class="newsletter-intro">
      <h4 class="txt-brown">Subscribe to Our Newsletter</h4>
      <p>Get updates on new products, seasonal offers, and beekeeping tips.</p>
    </div>
    <div class="newsletter-form">
      <!-- email -->
      <div class="floating-label">
        <input type="email" id="email" name="email" placeholder=" " required>
        <label for="email">Your Email*</label>
      </div>
      <!-- /email -->
      <app-button-md label="Subscribe" customClass="txt-white bg-brown"/>
    </div>
  </div>
</div>
