<section id="process" class="">
  <div class="container column d-flex a-center">
    <h2>Our Honey Production Process</h2>
    <p>Discover the journey from hive to jar and our commitment to preserving honey's natural goodness.</p>

    <!-- process-grid -->
    <div class="d-grid process-grid">

      <!-- item -->
      <div class="item">
        <div class="circle d-flex j-center a-center">
          <h3>1</h3>
        </div>
        <h4>Beekeeping</h4>
        <p>Our skilled beekeepers carefully tend to our hives, ensuring the health and happiness of our bees.</p>
      </div>
      <!-- /item -->

      <!-- item -->
      <div class="item">
        <div class="circle d-flex j-center a-center">
          <h3>2</h3>
        </div>
        <h4>Harvesting</h4>
        <p>Frames are removed from the hives and honey is extracted using a gentle, cold-press method to preserve quality.</p>
      </div>
      <!-- /item -->

      <!-- item -->
      <div class="item">
        <div class="circle d-flex j-center a-center">
          <h3>3</h3>
        </div>
        <h4>Filtering</h4>
        <p>We minimally filter our honey to remove only large particles, preserving all the beneficial pollen and enzymes.</p>
      </div>
      <!-- /item -->

      <!-- item -->
      <div class="item">
        <div class="circle ">
          <h3>4</h3>
        </div>
        <h4>Packaging</h4>
        <p>Our honey is carefully jarred in small batches and each jar is inspected for quality before being shipped to you.</p>
      </div>
      <!-- /item -->

    </div>
    <!-- /process-grid -->

  </div>

</section>
